<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header"></head>

<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 mr-5">
            <div th:replace="fragments.html :: settings-menu (currentMenu='tags')"></div>
        </div>

        <div class="col-8">
            <div class="row">
                <h2 class="col-sm-12">관심 스터디 주제</h2>
            </div>

            <div class="row mt-3">
                <div class="col-8">
                    <div class="alert alert-info ml-1 mb-3" role="alert">
                        <p><strong>참여하고 싶은 스터디의 주제</strong>를 태그로 등록해보세요.</p>
                        해당 주제의 스터디가 등록되면 <strong>알림</strong>을 받을 수 있습니다.
                    </div>

                    <small id="tagsHelp" class="text-muted ml-1">
                        태그를 입력하고 엔터를 눌러 등록하세요. 또한 입력 창을 클릭하여 이미 등록된 태그들을 확인할 수 있습니다.
                    </small>

                    <!-- white list binding -->
                    <div id="whitelist" th:text="${whitelist}" hidden></div>

                    <input id="tags" type="text" name="tags-outside" class="tagify-outside"
                           th:value="${#strings.listJoin(tags, ',')}" aria-describedby="tagsHelp"/>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments.html :: footer"></div>
</div>

<script th:replace="fragments.html :: ajax-csrf-header"></script>
<div th:replace="fragments.html :: update-tags (baseUrl='/account/settings/tags')"></div>
</body>
</html>