<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header"></head>

<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 mr-5">
            <!-- Avatar -->
            <svg th:if="${#strings.isEmpty(account.profileImg)}" class="img-fluid float-left rounded img-thumbnail"
                 th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
            <img th:if="${!#strings.isEmpty(account.profileImg)}" class="img-fluid float-left rounded img-thumbnail"
                 th:src="${account.profileImg}"
                 width="125" height="125"/>
        </div>

        <div class="col-8">
            <h1 class="display-4 font-italic" th:text="${account.nickname}">nickname</h1>
            <p class="lead" th:if="${!#strings.isEmpty(account.aboutMe)}" th:text="${account.aboutMe}">aboutMe</p>
            <p class="lead text-muted mt-2" th:if="${#strings.isEmpty(account.aboutMe) && isOwner}">
                자신에 대한 한 줄 소개를 추가해 보세요.
            </p>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-2 mr-5">
            <div th:replace="fragments.html :: profile-menu (currentMenu='introduction')"></div>
        </div>

        <div class="col-8">
            <p th:if="${!#strings.isEmpty(account.url)}">
                <span style="font-size: 20px;"><i class="fa fa-link col-1"></i></span>
                <span th:text="${account.url}" class="col-9"></span>
            </p>
            <p th:if="${!#strings.isEmpty(account.occupation)}">
                <span style="font-size: 20px;"><i class="fa fa-briefcase col-1"></i></span>
                <span th:text="${account.occupation}" class="col-9"></span>
            </p>
            <p th:if="${!#strings.isEmpty(account.location)}">
                <span style="font-size: 20px;"><i class="fa fa-location-arrow col-1"></i></span>
                <span th:text="${account.location}" class="col-9"></span>
            </p>
            <p th:if="${isOwner}">
                <span style="font-size: 20px;"><i class="fa fa-envelope-o col-1"></i></span>
                <span th:text="${account.email}" class="col-9"></span>
            </p>
            <p th:if="${isOwner || account.emailVerified}">
                <span style="font-size: 20px;"><i class="fa fa-calendar-o col-1"></i></span>
                <span th:if="${isOwner && !account.emailVerified}" class="col-9">
                    <a th:href="@{'/account/check-email?email=' + ${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                </span>
                <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 가입')}" class="col-9"></span>
            </p>

            <div class="mt-5" th:if="${isOwner}">
                <a class="btn btn-outline-primary" th:href="@{/account/settings/profile}">프로필 수정</a>
            </div>
        </div>
    </div>

    <footer th:replace="fragments.html :: footer"></footer>
</div>
</body>
</html>