<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- header -->
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>StudyOlle</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <style>
        .container {
            max-width: 100%;
        }

        .tagify-outside {
            border: 0;
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<!-- footer -->
<footer th:fragment="footer">
    <div class="row justify-content-center mt-5">
        <img class="mb-2 mr-2" src="/images/logo.png" width="25" height="25">
        <small class="d-block mb-3 text-muted">&copy; 스터디올래 2020</small>
    </div>
</footer>

<!-- nav -->
<nav th:fragment="main-nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:href="@{/}">
        <img src="/images/logo.png" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form th:action="@{/search/study}" class="form-inline" method="get">
                    <input class="form-control mr-sm-2" name="keyword" type="search"
                           placeholder="스터디 찾기" aria-label="Search"/>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <!-- login before -->
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/account/login}">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/account/sign-up}">회원가입</a>
            </li>

            <!-- login after -->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/notifications}">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link btn btn-dark" th:href="@{/study/new-study}">
                    <i class="fa fa-plus" aria-hidden="true"></i> 스터디 개설
                </a>
            </li>

            <!-- dropdown -->
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <svg th:if="${#strings.isEmpty(account?.profileImg)}"
                         th:data-jdenticon-value="${#authentication.name}"
                         width="24" height="24" class="rounded border bg-light"></svg>
                    <img th:if="${!#strings.isEmpty(account?.profileImg)}" th:src="${account.profileImg}"
                         width="24" height="24" class="rounded border"/>
                </a>

                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                    <h6 class="dropdown-header"><span sec:authentication="name">username</span></h6>
                    <a class="dropdown-item" th:href="@{'/account/profile/' + ${#authentication.name}}">프로필</a>
                    <a class="dropdown-item">스터디</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/account/settings/profile'}">설정</a>

                    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">로그아웃</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- setting menu -->
<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'profile'}? active" th:href="@{/account/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'password'}? active" th:href="@{/account/settings/password}">패스워드</a>
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'notifications'}? active" th:href="@{/account/settings/notifications}">알림</a>
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'tags'}? active" th:href="@{/account/settings/tags}">관심 주제</a>
    <a class="list-group-item list-group-item-action"
       th:classappend="${currentMenu == 'zones'}? active" th:href="@{/account/settings/zones}">활동 지역</a>
    <a class="list-group-item list-group-item-action list-group-item-danger"
       th:classappend="${currentMenu == 'account'}? active" th:href="@{/account/settings/account}">계정</a>
</div>

<!-- form validation -->
<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<!-- Send crsf token in ajax request -->
<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function () {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;

        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<!-- Update tags -->
<div th:fragment="update-tags (baseUrl)">
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript" th:inline="javascript">
        $(function () {
            function tagRequest(url, tagTitle) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "[(${baseUrl})]" + url,
                    data: JSON.stringify({'tagTitle': tagTitle})

                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            var tagInput = document.querySelector("#tags");
            var tagify = new Tagify(tagInput, {
                pattern: /^.{0,20}$/,
                whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
                dropdown: {
                    position: "input",
                    maxItems: Infinity,
                    enabled: 0
                }
            });

            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');

            // re-place Tagify's input element outside of the element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
    </script>
</div>

<!-- Update zones -->
<div th:fragment="update-zones (baseUrl)">
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript" th:inline="javascript">
        $(function () {
            function tagRequest(url, zoneName) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "[(${baseUrl})]" + url,
                    data: JSON.stringify({'zoneName': zoneName})

                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            var tagInput = document.querySelector("#zones");
            var tagify = new Tagify(tagInput, {
                enforceWhitelist: true,
                whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
                dropdown: {
                    position: "input",
                    maxItems: Infinity,
                    enabled: 0
                }
            });

            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');

            // re-place Tagify's input element outside of the element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
    </script>
</div>

<!-- editor -->
<div th:fragment="editor-script">
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function () {
            $('.editor').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                height: 300
            });
        });
    </script>
</div>

<!-- tooltip -->
<script th:fragment="tooltip" type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<!-- study banner -->
<div th:fragment="study-banner" th:if="${study.useBanner}" class="row" id="study-logo">
    <img th:src="${study.bannerImg}"/>
</div>

<!-- study info -->
<div th:fragment="study-info">
    <div class="row pt-4 text-left justify-content-center bg-light">
        <div class="col-6">
            <a class="text-decoration-none" th:href="@{'/study/studies/' + ${study.path}}">
                <span class="h2" th:text="${study.title}">스터디 이름</span>
            </a>
        </div>

        <div class="col-4 text-right justify-content-end">
            <!-- study state -->
            <span th:if="${study.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="스터디 공개 중">
                    <button class="btn btn-success btn-sm" style="pointer-events: none;" type="button" disabled>
                        STUDY-OPEN
                    </button>
            </span>
            <span th:if="${!study.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="스터디 공개 준비 중">
                    <button class="btn btn-warning btn-sm" style="pointer-events: none;" type="button" disabled>
                        STUDY-DRAFT
                    </button>
            </span>
            <span th:if="${study.closed}" class="d-inline-block" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="스터디 종료함">
                    <button class="btn btn-danger btn-sm" style="pointer-events: none;" type="button" disabled>
                        STUDY-CLOSED
                    </button>
            </span>

            <!-- recruiting state -->
            <span th:if="${study.recruiting}" class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="팀원 모집 중">
                    <button class="btn btn-success btn-sm" style="pointer-events: none;" type="button" disabled>
                        APPLY-ON
                    </button>
            </span>
            <span th:if="${!study.recruiting}" class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="팀원 모집 중 아님">
                    <button class="btn btn-warning btn-sm" style="pointer-events: none;" type="button" disabled>
                        APPLY-OFF
                    </button>
            </span>

            <!-- member menu -->
            <span sec:authorize="isAuthenticated()"
                  th:if="${study.isJoinable(#authentication.principal)}" class="btn-group ml-1" role="group">
                    <a class="btn btn-info mr-1" th:href="@{'/study/studies/' + ${study.path} + '/join'}">스터디 가입</a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/studies/' + ${study.path} + '/members'}"
                       th:text="${study.memberCount}" data-toggle="tooltip" title="참여 중인 인원">0</a>
            </span>
            <span sec:authorize="isAuthenticated()"
                  th:if="${!study.closed && study.isMember(#authentication.principal)}" class="btn-group ml-" role="group">
                    <a class="btn btn-outline-danger mr-1" th:href="@{'/study/studies/' + ${study.path} + '/leave'}">스터디 탈퇴</a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/studies/' + ${study.path} + '/members'}"
                       th:text="${study.memberCount}" data-toggle="tooltip" title="참여 중인 인원">0</a>
            </span>

            <!-- manager menu -->
            <span sec:authorize="isAuthenticated()"
                  th:if="${study.published && !study.closed && study.isManager(#authentication.principal)}">
                    <a class="btn btn-outline-primary ml-1" th:href="@{'/study/studies/' + ${study.path} + '/new-event'}">
                        <i class="fa fa-plus"></i> 모임 만들기
                    </a>
            </span>
        </div>
    </div>

    <div class="row justify-content-center bg-light mt-2">
        <div class="col-10">
            <p class="lead" th:text="${study.shortDescription}"></p>
        </div>
    </div>

    <div class="row justify-content-center bg-light mt-1">
        <div class="col-10">
            <p>
                <span th:each="tag: ${study.tags}"
                      class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                    <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                        <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                    </a>
                </span>

                <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                    <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                        <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}">City</span>
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>

<!-- study menu -->
<div th:fragment="study-menu (studyMenu)" class="row px-3 justify-content-center bg-light mt-2">
    <nav class="col-10 nav nav-tabs">
        <a class="nav-item nav-link" th:classappend="${studyMenu == 'info'}? active"
           th:href="@{'/study/studies/' + ${study.path}}">
            <i class="fa fa-info-circle"></i> 소개
        </a>
        <a class="nav-item nav-link" th:classappend="${studyMenu == 'members'}? active"
           th:href="@{'/study/studies/' + ${study.path} + '/members'}">
            <i class="fa fa-user"></i> 구성원
        </a>
        <a class="nav-item nav-link" th:classappend="${studyMenu == 'events'}? active"
           th:href="@{'/study/studies/' + ${study.path} + '/events'}">
            <i class="fa fa-calendar"></i> 모임
        </a>
        <a sec:authorize="isAuthenticated()" th:if="${study.isManager(#authentication.principal)}"
           class="nav-item nav-link" th:classappend="${studyMenu == 'settings'}? active"
           th:href="@{'/study/studies/' + ${study.path} + '/settings/descriptions'}">
            <i class="fa fa-cog"></i> 설정
        </a>
    </nav>
</div>

<!-- member list -->
<div th:fragment="member-list (members)" class="row px-3 justify-content-center">
    <ul class="list-unstyled col-10 bg-white">
        <li class="media my-3" th:each="member: ${members}">
            <svg th:if="${#strings.isEmpty(member.account?.profileImg)}"
                 th:data-jdenticon-value="${member.account.nickname}"
                 width="64" height="64" class="rounded border bg-light mr-3"></svg>
            <img th:if="${!#strings.isEmpty(member.account?.profileImg)}" th:src="${member.account?.profileImg}"
                 width="64" height="64" class="rounded border mr-3"/>

            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <span class="font-italic" th:text="${member.account.nickname}">닉네임</span>
                    <span th:if="${#strings.equals(member.managementLevel, 'MANAGER')}" class="badge badge-primary">
                        관리자
                    </span>
                </h5>
                <span th:text="${member.account.aboutMe}"></span>
            </div>
        </li>
    </ul>
</div>

</html>